* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container-fluid {
  background-color: #e6e6e6;
  min-height: 100vh;
}

.container {
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#addButton {
  margin-right: 15px;
}

#updateItem {
  margin-right: 15px;
}

